/* CSS Document */
/* Author: Lillian Carr 
Title: styles.css 
Date: 1/29/24 */

body {
   background: 
}

h1 {
  color: #000;
  
	
}

h2 {
	
}

blockquote {
	
}

table {
	
}

footer {
	text-align: center;
}

